%h1
	Bloge.  So Blog.  Much Posts.  Very Content.

%h2
	Much Posts.  Very Recent.

-@posts.each do |post|
	%a{href: "/posts/#{post.id}"}=post.title
	%br
	Posted by
	%a{href: "/posts/#{post.user.id}"}=post.user.full_name
	%br
	=post.created_at.strftime('%A, %B %e %Y')
	%br
	=post.body
	%br
	%br
