#header
	%h1
		Bloge

	%h2
		Such Blog.  Many Posts. So Content.

-@posts.each do |post|
	.posts
		.post_title
			%a{href: "/posts/#{post.id}"}=post.title
		.posted_by
			Posted by
			%a{href: "/users/#{post.user.id}"}=post.user.username
		.post_time
			=post.created_at.strftime('%A, %B %e %Y')
		.post_text
			=post.body.first(100)
			%a{href: "/posts/#{post.id}"}=post.title + '...read more'
