!!!

%html
	%head
		%title Bloge.  So Blog.  Much Posts.  Very Content.
		%link{rel: 'stylesheet', href: '/stylesheet.css', type: 'text/css'}
	%body		
		-if flash[:notice]
			=flash[:notice]
		-if flash[:alert]
			=flash[:alert]
		%ul
			%li
				%a{href: '/'} Much Home
			-if current_user
				%li
					%a{href: '/logout'} So Logout
				%li
					%a{href: "/users/#{current_user.id}"} Very Profile
			-else
				%li
					%a{href: '/login'} So Login
				%li
					%a{href: 'register'} Very Register
		=yield