!!!

%html
	%head
		%title Bloge.  So Blog.  Much Posts.  Very Content.
		%link{rel: "stylesheet", href: "/stylesheet.css", type: "text/css"}
		%link{href: 'http://fonts.googleapis.com/css?family=Cherry+Swash:400,700', rel: 'stylesheet', type: 'text/css'}	
	%body		
		-if flash[:notice]
			.notice=flash[:notice]
		-if flash[:alert]
			.alert=flash[:alert]
		#navigation
			%ul.nav
				%li.nav
					%a{href: '/'} Much Home
				-if current_user
					%li.nav
						%a{href: "/users/#{current_user.id}"} Very Profile
					%li.nav
						%a{href: "/new_post"} New Post
					%li.nav
						%a{href: '/logout'} So Logout
				-else
					%li.nav
						%a{href: '/login'} So Login
					%li.nav
						%a{href: '/register'} Very Register
		=yield