%h1 So User.  Very Login.

%form{action: '/login', method: 'POST'}
	%ul
		%li
			%label{for: 'username'} So Username
			%input{type: 'text', name: '[user]username'}
		%li
			%label{for: 'password'} Very Password
			%input{type: 'password', name: '[user]password'}
		%input{type: 'submit',  value: 'Much Login'}