%h2
	So New.  Very Post.
	
%form{action: '/new_post', method: 'POST'}
	%label{for: 'title'} Much Title
	%br
	%input{name: 'title'}
	%br
	%label{for: 'body'} So Body
	%br
	%textarea{name: 'body'}
	%br
	%input{type: 'submit', value: 'Very Post'}
	%br
	%br