#header
	%h2
		Such New.  So Post.
	
#wrapper
	.new_post
		%form{action: '/new_post', method: 'POST'}
			%label{for: 'title'} Such Title
			%input{name: 'title'}
			%label{for: 'body'} Many Body
			%textarea{name: 'body'}
			%input{type: 'submit', value: 'Very Post'}