#header
	%h2
		So New.  Very Post.
	
#wrapper
	.new_post
		%form{action: '/new_post', method: 'POST'}
			%label{for: 'title'} Much Title
			%input{name: 'title'}
			%label{for: 'body'} So Body
			%textarea{name: 'body'}
			%input{type: 'submit', value: 'Very Post'}