#header
	-if @user
		%h2
			=@user.username + "'s"
			Bloge

	-if @user == current_user
		.new_post_button
			%a{href: '/new_post'} Very New Post

-@post.each do |post|
	.posts
		.post_title
			%a{href: "/posts/#{post.id}"}=post.title
		.post_time
			=post.created_at.strftime('%A, %B %e %Y')
		.post_text
			=post.body.first(100) + '...'

