-if @user
	%h1
		=@user.full_name + "'s"
		Bloge

-if @user == current_user
	%a{href: '/new_post'} Very New Post
	%br
	%br

-@user.posts.each do |post|
	=post.created_at.strftime('%A, %B %e %Y')
	%br
	%a{href: '/posts/:id'}=post.title
	%br
	=post.body
	%br
	%br


