#header
	%h2 Wow.  Much New.  Very Register.

#wrapper
	%form{action: '/register', method: 'POST'}
		%ul
			%li
				%label{for: 'fname'} So First Name
				%input{type: 'text', name: '[user]fname'}
			%li
				%label{for: 'lname'} Much Last Name
				%input{type: 'text', name: '[user]lname'}
			%li
				%label{for: 'email'} Very Email
				%input{type: 'text', name: '[user]email'}
			%li
				%label{for: 'username'} So Username
				%input{type: 'text', name: '[user]username'}
			%li
				%label{for: 'password'} Much Password
				%input{type: 'password', name: '[user]password'}
		%input{type: 'submit', value: 'Very Register'}