#header
	%h2 Such New.  Many Register.

#wrapper
	%form{action: '/register', method: 'POST'}
		%ul
			%li
				%label{for: 'fname'} Such First Name
				%input{type: 'text', name: '[user]fname'}
			%li
				%label{for: 'lname'} Many Last Name
				%input{type: 'text', name: '[user]lname'}
			%li
				%label{for: 'email'} So Email
				%input{type: 'text', name: '[user]email'}
			%li
				%label{for: 'username'} Such Username
				%input{type: 'text', name: '[user]username'}
			%li
				%label{for: 'password'} Many Password
				%input{type: 'password', name: '[user]password'}
		%input{type: 'submit', value: 'Very Register'}